body {
  margin: 0;
  color: var(--basic-text-color);
  background-color: var(--background-color);
}

img {
  width: 100%;
  height: auto;
  color: var(--background-color);
  background: var(--background-color);
}
