---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.slogan }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for photo in collections.posts %}
  {% set absolutePostUrl %}{{ photo.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ photo.data.caption }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ photo.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">
		<![CDATA[
      <img src="{{ photo.data.imageSource | gridItemSrc }}" alt="{{ photo.data.imageAlt }}">
		]]>
		</content>
	</entry>
	{%- endfor %}
</feed>
