---
layout: layouts/bones.njk
---

<main class="wrapper">
  <header class="page-header">
    <h1 class="page-title">{{ metadata.title }}</h1>
    <p class="page-slogan">{{ metadata.slogan }}</p>
  </header>
  <section class="photo-grid">
    <a href="#" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img src="https://fruechtl.me/uploads/photos/wave-and-stones-cover.jpg" alt="">
      </figure>
      <time class="photo-grid-item__date">March 2nd, 2020</time>
    </a>
    <a href="#" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img src="https://fruechtl.me/uploads/photos/stockholm-street-night-cover.jpg" alt="">
      </figure>
      <time class="photo-grid-item__date">March 2nd, 2020</time>
    </a>
    <a href="#" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img src="https://fruechtl.me/uploads/photos/stockholm-turm-cover.jpg" alt="">
      </figure>
      <time class="photo-grid-item__date">March 2nd, 2020</time>
    </a>
    <a href="#" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img src="https://fruechtl.me/uploads/photos/stockholm-city-cover.jpg" alt="">
      </figure>
      <time class="photo-grid-item__date">March 2nd, 2020</time>
    </a>
    <a href="#" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img src="https://fruechtl.me/uploads/photos/stockholm-tight-street-2-cover.jpg" alt="">
      </figure>
      <time class="photo-grid-item__date">March 2nd, 2020</time>
    </a>
    <a href="#" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img src="https://fruechtl.me/uploads/photos/many-grapevines-cover.jpg" alt="">
      </figure>
      <time class="photo-grid-item__date">March 2nd, 2020</time>
    </a>
  </section>
</main>
