---
layout: layouts/bones.njk
---

<main class="wrapper">
  <header class="page-header">
    <h1 class="page-title">{{ metadata.title }}</h1>
    <p class="page-slogan">{{ metadata.slogan }}</p>
  </header>
  <section class="photo-grid">
  {% set photos = collections.posts | reverse %}
  {% for photo in photos %}
    <a id="{{ photo.data.caption | slug }}" href="{{ photo.url | url }}" class="photo-grid-item">
      <figure class="photo-grid-item__picture">
        <img srcset="{{ photo.data.imageSource | gridItemSrcset }}" src="{{ photo.data.imageSource | gridItemSrc }}" alt="{{ photo.data.imageAlt }}" height="500" width="500" loading="lazy">
      </figure>
      <time class="photo-grid-item__date" datetime="{{ photo.date | machineReadableDate }}">{{ photo.date | readableDate }}</time>
    </a>
  {% endfor %}
  </section>
</main>
