/* ------------------------------------------------------------------
||  Photos
------------------------------------------------------------------- */
.photo-grid {
  display: grid;
  grid-gap: var(--spacer-3);
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 640px) {
    grid-gap: var(--spacer-4);
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.photo-grid-item {
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(0, 0, 0, 0.16) 48%,
      rgba(0, 0, 0, 0.64) 100%
    );
    transition: opacity 0.32s ease-in-out;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &.animated {
    animation-name: fadeInUp;
  }
}

.photo-grid-item:hover,
.photo-grid-item:focus {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    cursor: zoom-in;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 20;
  }

  .photo-grid-item__picture {
    z-index: 10;
    transform: scale(1.04);

    @media (prefers-reduced-motion: reduce) {
      transform: scale(1);
    }
  }

  .photo-grid-item__date {
    visibility: visible;
  }
}

.photo-grid-item__picture {
  display: block;
  margin: 0;
  transition: transform 0.32s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  img {
    display: block;
  }
}

.photo-grid-item__date {
  position: absolute;
  left: var(--spacer-3);
  bottom: var(--spacer-3);

  font-size: var(--type-scale-7);
  font-weight: bold;
  line-height: var(--leading-tight);
  visibility: hidden;
  letter-spacing: 0.05em;
  color: #ffffff;
  z-index: 20;
}
