/* ------------------------------------------------------------------
||  Photo
------------------------------------------------------------------- */
.photo {
  cursor: zoom-out;
  height: 100vh;
}

.photo-frame {
  margin: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  color: var(--basic-text-color);
}

.photo-frame__image {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

/* ------------------------------------------------------------------
||  Photo - Navigation
------------------------------------------------------------------- */
.photo-nav-link {
  display: flex;
  align-items: center;
  padding: 0 var(--spacer-3);
  width: var(--spacer-6);
  height: 100vh;

  &:hover,
  &:focus {
    .photo-nav-item {
      opacity: 1;
      visibility: visible;
      transform: matrix(-1, 0, 0, 1, 0, 0) scale(1);
    }
  }

  @media (min-width: 640px) {
    padding: 0 var(--spacer-4);
    width: var(--spacer-8);
  }
}

.photo-nav-link--next {
  position: absolute;
  top: 0;
  left: 0;

  .photo-nav-item svg {
    position: relative;
    left: 1px;
  }
}

.photo-nav-link--prev {
  position: absolute;
  justify-content: flex-end;
  top: 0;
  right: 0;

  .photo-nav-item svg {
    position: relative;
    right: 1px;
  }
}

.photo-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacer-4);
  height: var(--spacer-4);
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  transition: all 0.16s ease-in-out;
  transform: matrix(-1, 0, 0, 1, 0, 0) scale(1);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @media (min-width: 640px) {
    width: var(--spacer-5);
    height: var(--spacer-5);
    opacity: 0;
    visibility: hidden;
    transform: matrix(-1, 0, 0, 1, 0, 0) scale(0.8);
  }

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.8);
  }

  svg {
    width: var(--spacer-3);
    height: var(--spacer-3);
    color: #000000;
  }
}
