<header class="page-header">
  <div class="page-header-content">
    <h1 class="page-title">{{ metadata.title }}</h1>
    <p class="page-slogan">{{ metadata.slogan }}</p>
  </div>
  {% include "components/social-nav.njk" %}
</header>
