<section class="photo-grid">
  {% set photos = collections.posts | reverse %}
  {% for photo in photos %}
  <a id="{{ photo.data.caption | slug }}" href="{{ photo.url | url }}" class="photo-grid-item">
    <figure class="photo-grid-item__picture">
      <img loading="lazy" srcset="{{ photo.data.imageSource | gridItemSrcset }}" src="{{ photo.data.imageSource | gridItemSrc }}" sizes="(min-width: 640px) 50vw, (min-width: 1080px) 25vw, 100vw" alt="{{ photo.data.imageAlt }}" height="500" width="500">
    </figure>
    <time class="photo-grid-item__date" datetime="{{ photo.date | machineReadableDate }}">{{ photo.date | readableDate }}</time>
  </a>
  {% endfor %}
</section>
