<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <title>{{ metadata.seo.title }}</title>
  <meta name="description" content="{{ metadata.seo.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{% include "css/main.css" %}</style>
</head>
<body>
{{ content | safe }}
<script src="/assets/js/main.js" async></script>
</body>
</html>
