<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <title>{{ metadata.seo.title }}</title>
  <meta name="description" content="{{ metadata.seo.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed - {{ metadata.title }}" href="{{ metadata.feedUrl }}" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ metadata.favicon }}</text></svg>">

  <style>{% include "css/main.css" %}</style>
</head>
{% if bodyClass %}
<body class="{{ bodyClass }}">
{% else %}
<body>
{% endif %}
{{ content | safe }}
<script src="/assets/js/main.js" async></script>
</body>
</html>
